<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangzhizun.cowxgzh.dao.jour.JourScenarioPatternDescriptionDao" >
  <resultMap id="BaseResultMap" type="com.fangzhizun.cowxgzh.po.jour.JourScenarioPatternDescription" >
	  <id column="spd_id" property="spdId" jdbcType="INTEGER" />
	  <result column="spd_number" property="spdNumber" jdbcType="INTEGER" />
	  <result column="spd_describe" property="spdDescribe" jdbcType="VARCHAR" />
	  <result column="spd_patterns_areVisible" property="spdPatternsAreVisible" jdbcType="INTEGER" />
  </resultMap>

	<!-- 查询用户-->
	<select id="selecePatternName" resultMap="BaseResultMap" parameterType="com.fangzhizun.cowxgzh.po.jour.JourScenarioPatternDescription">
		select * from jour_scenario_pattern_description
	</select>
</mapper>
